rabbit-holes/node-red-flow-exprts/mongo-db-2nd-flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e5cd598a677b3d7",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "enviro/outside-weather-station",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "335e77fcc1e9de3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "f34c0c8257c89f9b"
            ]
        ]
    },
    {
        "id": "f34c0c8257c89f9b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "complete_message_object",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "a36a7129ba5bb663",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "var msgdata = {};\nmsgdata.collection = \"users\";\nmsgdata.query = {\"id\" : \"6571c73f355bf35d56e6a23b\"};\nmsgdata.payload = {\"set\" : {\"lastName\" : \"Simpson2\"}}\nreturn msgdata;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 240,
        "wires": [
            [
                "367eb0f218f527d5"
            ]
        ]
    },
    {
        "id": "57111082f9b7cc94",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "a36a7129ba5bb663"
            ]
        ]
    },
    {
        "id": "4d16db68fa8c3355",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "5a4e23c2db76f3e3",
        "type": "mongodb-aleph-in",
        "z": "f6f2187d.f17ca8",
        "mongodb": "18e18e0cc59a42cd",
        "name": "",
        "collection": "users",
        "operation": "find",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "f3837e743b07385c"
            ]
        ]
    },
    {
        "id": "f3837e743b07385c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3c872dad1e0b449",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 420,
        "wires": [
            [
                "99ccee7af9ea4e27"
            ]
        ]
    },
    {
        "id": "99ccee7af9ea4e27",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "var ObjectId = global.get('ObjectId');\nmsg.firstName = \"Homer\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "5a4e23c2db76f3e3"
            ]
        ]
    },
    {
        "id": "9fcafc7769d6d20f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "58aa56ebb8a38edd"
            ]
        ]
    },
    {
        "id": "58aa56ebb8a38edd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = \"Hi there\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "367eb0f218f527d5",
        "type": "mongodb-aleph-out",
        "z": "f6f2187d.f17ca8",
        "mongodb": "18e18e0cc59a42cd",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "4d16db68fa8c3355"
            ]
        ]
    },
    {
        "id": "335e77fcc1e9de3a",
        "type": "mqtt-broker",
        "name": "outside_weather_station",
        "broker": "removed-for-security-reasons",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "enviro/outside-weather-station",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "18e18e0cc59a42cd",
        "type": "mongodb-aleph-config",
        "hostname": "removed-for-security-reasons",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "WeatherBuddy",
        "name": "myMongoDb"
    }
]